.form-control { margin-bottom: 10px; }

#deleteform .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
#deleteform .btn-labeled {padding-top: 0;padding-bottom: 0;}
#deleteform .btn { margin-bottom:10px; }

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
#userdetailpanel .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

#userdetailpanel small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

#maindiv {
    margin-top: 20px;
}